.page-container {
  position: relative;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 800px;
}

.card {
  background-color: blanchedalmond;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-bottom: 20px;
}

.bubble {
  position: fixed;
  bottom: 0;
  right: 0;
  background: lightblue;
  margin: 10px;
  padding: 5px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}

.home {
  font-size: x-large;
  position: fixed;
  top: 0;
  right: 0;
  background: lightblue;
  margin: 10px;
  padding: 5px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}
